.activity-cards {

  display: grid;
  grid-template-columns: repeat(3, min-content);
  padding: 22px 0 40px;
  background-color: $white;

  &__activity {
    width: 480px;
    height: 240px;
    padding: 55px 77px 37px 105px;
  }

  &__title {
    font-size: 28px;
    line-height: 1.2em;
    // letter-spacing: -0.03em;
    color: $darkblue;
  }

  &__description {
    margin-top: 28px;
    font-size: 16px;
    line-height: 1.5em;
    // letter-spacing: -0.03em;
    color: rgba(34, 53, 111, 0.5);
  }
}
