.info {
  display: flex;
  justify-content: space-between;
  background-color: $white;

  &__block {
    display: flex;
    padding: 98px 40px 74px 68px;

  }

  &__card {
    width: 240px;
    font-size: 14px;
    line-height: 1.6em;
    color: rgba(34, 53, 111, 0.5);

  }

  &__title {
    margin-bottom: 57px;
    line-height: 0.8em;
    color: $darkblue;
  }

  &__text {
    width: 207px;
  }

  &__address {
    margin-bottom: 20px;
  }

  &__tel {
    color: $blue;
  }

  &__link {
    display: block;
    color: $blue;
  }
}
