.services {
  padding-bottom: 120px;
  background-color: $white;

  &__title {
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: center;
    // letter-spacing: 0.1em;
    color: rgba(34, 53, 111, 0.5);
  }

  &__blocks {
    display: flex;
  }

  &__block {
    width: 360px;
    height: 360px;

    &--pink {
      background-color: $pink;
    }

    &--lightgreen {
      background-color: $lightgreen;
    }

    &--ligthblue {
      background-color: $lightblue;
    }

    &--blue {
      background-color: $blue;
    }
  }

  &__block-title {
    width: 255px;
    margin: 72px auto 0;
    padding-top: 23px;
    text-align: center;
    font-size: 32px;
    line-height: 1.1em;
    // letter-spacing: -0.1em;
    color: $white;
    border-top: 1px solid $white;

    &::before {
      display: inline-block;
      content: " ";
      width: 9px;
      height: 9px;
      margin-right: 15px;
      background-color: $sunny;
      border-radius: 50%;
      transform: translateY(-50%);
    }

  }
}
