.services {
  padding-bottom: 120px;
  background-color: $white;

  &__title {
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: center;
    // letter-spacing: 0.1em;
    color: rgba(34, 53, 111, 0.5);
  }

  &__blocks {
    display: flex;
  }

  &__block {
    width: 360px;
    height: 360px;

    &--pink {
      background-color: $pink;

      background-position: -110px 0;
      transition: background-position 1s ease-in-out,
        background-image 1s ease-in-out,
        background-color 0.5s;

      &:hover {
        background-color: rgba(255, 226, 222, 0.7);
        background-position: 0 0;
        background-image: url(../images/nutrition.png);
      }
    }

    &--lightgreen {
      background-color: $lightgreen;

      background-position: -110px 0;
      transition: background-position 1s ease-in-out,
        background-image 1s ease-in-out,
        background-color 1s;

      &:hover {
        background-color: rgba(196, 231, 105, 0.6);
        background-position: 0 0;
        background-image: url(../images/nutrition.png);
      }
    }

    &--ligthblue {
      background-color: $lightblue;

      background-position: -110px 0;
      transition: background-position 1s ease-in-out,
        background-image 1s ease-in-out,
        background-color 1s;

      &:hover {
        background-color: rgba(98, 208, 223, 0.5);
        background-position: 0 0;
        background-image: url(../images/nutrition.png);
      }
    }

    &--blue {
      background-color: $blue;

      background-position: -110px 0;
      transition: background-position 1s ease-in-out,
        background-image 1s ease-in-out,
        background-color 1s;

      &:hover {
        background-color: rgba(0, 82, 193, 0.5);
        background-position: 0 0;
        background-image: url(../images/nutrition.png);
      }
    }
  }

  &__block-title {
    width: 255px;
    margin: 72px auto 0;
    padding-top: 23px;
    text-align: center;
    font-size: 32px;
    line-height: 1.1em;
    // letter-spacing: -0.1em;
    color: $white;
    border-top: 1px solid $white;

    &::before {
      display: inline-block;
      content: " ";
      width: 9px;
      height: 9px;
      margin-right: 15px;
      background-color: $sunny;
      border-radius: 50%;
      transform: translateY(-50%);
    }

  }
}
