@import "utils";
@import "fonts";
@import "reset";
@import "container";
@import "./header/header.scss";
@import "./header/intro.scss";
@import "./main/why-thrive.scss";
@import "./main/about.scss";
@import "./main/services.scss";
@import "./main/activities.scss";
@import "./main/activity-cards.scss";
@import "./main/also-know.scss";
@import "./main/contact-us.scss";
@import "./main/info.scss";
@import "./footer/footer.scss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Larsseit", sans-serif;
  background: $yellow;
}
