$white: #fff;

$darkblue: #22356f;
$lightblue: #62d0df;
$yellow: #f4f9e2;
$orange: #f9b640;
$pink: #ffe2de;
$lightgreen: #c4e769;
$blue: #0052c1;
$sunny: #e9b730;
$lilac: #dee1ff;
$violet: #8f00ff;

$laptop-width: 1024px;
$tablet-width: 880px;
$phone-width: 540px;
