.nav {
  &__list {
    display: grid;
    grid-template-columns: repeat(4, min-content);
    column-gap: 20px;
    color: $darkblue;

    font-size: 14px;
    font-weight: normal;
    line-height: 1.14em;
  }

  &__item {
    position: relative;
    z-index: 2;
    padding: 10px 5px;
    transition: all 0.3s;

    &::after {
      position: absolute;
      left: 50%;
      bottom: 0;
      display: block;
      content: " ";
      width: 0;
      height: 1px;
      margin-top: 10px;
      // background-color: $darkblue;
      transition: all 0.3s;
    }

    &:hover {
      color: $lightblue;

      &::after {
        width: 100%;
        left: 0;
        background: $lightblue;
      }
    }
  }
}
